	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/03/2019 15:08
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-multimedia:before { content: "\f100"; }
.flaticon-drawing:before { content: "\f101"; }
.flaticon-drawing-1:before { content: "\f102"; }
.flaticon-layers:before { content: "\f103"; }
.flaticon-cogwheel:before { content: "\f104"; }
.flaticon-construction:before { content: "\f105"; }
.flaticon-can:before { content: "\f106"; }
.flaticon-signs:before { content: "\f107"; }
.flaticon-favorite:before { content: "\f108"; }
.flaticon-arrows:before { content: "\f109"; }
.flaticon-note:before { content: "\f10a"; }
.flaticon-computer:before { content: "\f10b"; }
.flaticon-phone-settings:before { content: "\f10c"; }
.flaticon-technology:before { content: "\f10d"; }
.flaticon-envelope:before { content: "\f10e"; }
.flaticon-note-1:before { content: "\f10f"; }
.flaticon-social:before { content: "\f110"; }
.flaticon-left-quotes-sign:before { content: "\f111"; }
.flaticon-businessman:before { content: "\f112"; }
.flaticon-edit:before { content: "\f113"; }
.flaticon-curriculum:before { content: "\f114"; }
.flaticon-layers-1:before { content: "\f115"; }
.flaticon-tools:before { content: "\f116"; }
.flaticon-set-square:before { content: "\f117"; }
.flaticon-blog:before { content: "\f118"; }
.flaticon-send-mail:before { content: "\f119"; }
.flaticon-smartphone:before { content: "\f11a"; }
.flaticon-book:before { content: "\f11b"; }
.flaticon-case:before { content: "\f11c"; }
.flaticon-vector:before { content: "\f11d"; }
.flaticon-coding:before { content: "\f11e"; }
.flaticon-phone:before { content: "\f11f"; }
.flaticon-tools-and-utensils:before { content: "\f120"; }
.flaticon-folder:before { content: "\f121"; }
.flaticon-photo-camera:before { content: "\f122"; }
.flaticon-sheet:before { content: "\f123"; }
.flaticon-monitor:before { content: "\f124"; }
.flaticon-clock:before { content: "\f125"; }
.flaticon-hour:before { content: "\f126"; }
.flaticon-clock-1:before { content: "\f127"; }
.flaticon-crown:before { content: "\f128"; }
.flaticon-flag:before { content: "\f129"; }
.flaticon-goal:before { content: "\f12a"; }
.flaticon-push-pin:before { content: "\f12b"; }
.flaticon-headphones:before { content: "\f12c"; }
.flaticon-comment:before { content: "\f12d"; }
.flaticon-comment-1:before { content: "\f12e"; }
.flaticon-chat:before { content: "\f12f"; }
.flaticon-internet:before { content: "\f130"; }
.flaticon-badge:before { content: "\f131"; }
.flaticon-book-1:before { content: "\f132"; }
.flaticon-law:before { content: "\f133"; }
.flaticon-responsive:before { content: "\f134"; }
.flaticon-list:before { content: "\f135"; }
.flaticon-idea:before { content: "\f136"; }
.flaticon-briefcase:before { content: "\f137"; }
.flaticon-target:before { content: "\f138"; }
.flaticon-graduation:before { content: "\f139"; }
.flaticon-medal:before { content: "\f13a"; }
.flaticon-placeholder:before { content: "\f13b"; }
.flaticon-smartphone-1:before { content: "\f13c"; }
.flaticon-presentation:before { content: "\f13d"; }
.flaticon-graduate:before { content: "\f13e"; }
.flaticon-award:before { content: "\f13f"; }
.flaticon-conversation:before { content: "\f140"; }
.flaticon-layers-2:before { content: "\f141"; }
.flaticon-layers-3:before { content: "\f142"; }
.flaticon-risk:before { content: "\f143"; }
.flaticon-compass:before { content: "\f144"; }
.flaticon-compass-1:before { content: "\f145"; }
.flaticon-protractor:before { content: "\f146"; }
.flaticon-graphic-design:before { content: "\f147"; }
.flaticon-pencil:before { content: "\f148"; }
.flaticon-diaphragm:before { content: "\f149"; }
.flaticon-photo-camera-1:before { content: "\f14a"; }
.flaticon-diaphragm-1:before { content: "\f14b"; }
.flaticon-customer-support:before { content: "\f14c"; }
.flaticon-support:before { content: "\f14d"; }